<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cryptocurrency coins list</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/vue.min.js"></script>
</head>
<body>
    <div id="app" class="app">
        <div class="columns">
            <div class="column">
                <h1 class="header"><a href="/">Cryptocurrency coins list</a></h1>
            </div>

            <div class="column options">
                <button class="button" @click="darkMode = !darkMode">
                    {{ darkMode ? 'Switch to light mode' : 'Switch to dark mode' }}
                </button>

                <button class="button" @click="onlyStarred = !onlyStarred">
                    {{ onlyStarred ? 'All coins' : 'Only starred coins' }}
                </button>

                <select class="select" v-model="baseCurrency">
                    <option value="USD">US Dollar (USD)</option>
                    <option value="EUR">Euro (EUR)</option>
                    <option value="BTC">Bitcoin (BTC)</option>
                    <option value="SATS">Satoshi (SATS)</option>
                    <option value="ETH">Ethereum (ETH)</option>
                    <option value="BNB">Binance Coin (BNB)</option>
                </select>
            </div>
        </div>

        <p v-cloak v-if="global != undefined">
            <span class="item">
                <strong>Total Market Cap:</strong>
                {{ global.total_market_cap[baseCurrency.toLowerCase()] | currency(baseCurrency, false) }}&nbsp;
                <change-percent :percent="global.market_cap_change_percentage_24h_usd" />
            </span>

            <span class="item">
                <strong>Volume (24h):</strong>
                {{ global.total_volume[baseCurrency.toLowerCase()] | currency(baseCurrency, false) }}
            </span>

            <span class="item">
                <strong>Dominance:</strong>
                BTC {{ global.market_cap_percentage.btc | percent }}&nbsp;
                ETH {{ global.market_cap_percentage.eth | percent }}&nbsp;
                BNB {{ global.market_cap_percentage.bnb | percent }}
            </span>
        </p>
        <p v-else><i>Loading...</i></p>

        <table class="table">
            <thead>
                <tr>
                    <th style="width: 4%" @click="sortCoin('market_cap_rank')">
                        # {{ sortCoinArrow('market_cap_rank') }}
                    </th>
                    <th style="width: 14%" @click="sortCoin('name')">
                        Name {{ sortCoinArrow('name') }}
                    </th>
                    <th style="width: 8%" @click="sortCoin('current_price')">
                        Price {{ sortCoinArrow('current_price') }}
                    </th>
                    <th style="width: 8%" @click="sortCoin('price_change_percentage_1h_in_currency')">
                        1H {{ sortCoinArrow('price_change_percentage_1h_in_currency') }}
                    </th>
                    <th style="width: 8%" @click="sortCoin('price_change_percentage_24h_in_currency')">
                        1D {{ sortCoinArrow('price_change_percentage_24h_in_currency') }}
                    </th>
                    <th style="width: 8%" @click="sortCoin('price_change_percentage_7d_in_currency')">
                        1W {{ sortCoinArrow('price_change_percentage_7d_in_currency') }}
                    </th>
                    <th style="width: 12%" @click="sortCoin('market_cap')">
                        Market Cap {{ sortCoinArrow('market_cap') }}
                    </th>
                    <th style="width: 12%" @click="sortCoin('total_volume')">
                        Volume (24h) {{ sortCoinArrow('total_volume') }}
                    </th>
                    <th style="width: 14%" @click="sortCoin('circulating_supply')">
                        Circulating Supply {{ sortCoinArrow('circulating_supply') }}
                    </th>
                    <th style="width: 8%" @click="sortCoin('ath')">
                        ATH {{ sortCoinArrow('ath') }}
                    </th>
                    <th style="width: 4%"></th>
                </tr>
            </thead>
            <tbody v-cloak v-if="coins.length > 0">
                <template v-if="sortedCoins.length > 0">
                    <tr class="coin" v-for="coin in sortedCoins" :key="coin.id">
                        <td>{{ coin.market_cap_rank }}</td>
                        <td>
                            <div class="coin-name">
                                <img class="coin-icon" :src="coin.image" :alt="coin.name + ' icon'" loading="lazy">
                                <div>{{ coin.name }} <span class="coin-symbol">{{ coin.symbol.toUpperCase() }}</span></div>
                            </div>
                        </td>
                        <td>{{ coin.current_price | currency(baseCurrency) }}</td>
                        <td>
                            <change-percent :percent="coin.price_change_percentage_1h_in_currency" />
                        </td>
                        <td>
                            <change-percent :percent="coin.price_change_percentage_24h_in_currency" />
                        </td>
                        <td>
                            <change-percent :percent="coin.price_change_percentage_7d_in_currency" />
                        </td>
                        <td>{{ coin.market_cap | currency(baseCurrency, false) }}</td>
                        <td>{{ coin.total_volume | currency(baseCurrency, false) }}</td>
                        <td v-if="coin.total_supply != null && coin.circulating_supply != coin.total_supply">
                            {{ coin.circulating_supply | number }} {{ coin.symbol.toUpperCase() }}<br>
                            {{ coin.total_supply | number }} {{ coin.symbol.toUpperCase() }}
                        </td>
                        <td v-else>
                            {{ coin.circulating_supply | number }} {{ coin.symbol.toUpperCase() }}
                        </td>
                        <td>{{ coin.ath | currency(baseCurrency) }}</td>
                        <td>
                            <button @click="starCoin(coin.id)">
                                <svg class="icon" viewBox="0 0 24 24">
                                    <path :d="starredCoins.indexOf(coin.id) != -1 ? 'M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z' :
                                        'M12,15.39L8.24,17.66L9.23,13.38L5.91,10.5L10.29,10.13L12,6.09L13.71,10.13L18.09,10.5L14.77,13.38L15.76,17.66M22,9.24L14.81,8.63L12,2L9.19,8.63L2,9.24L7.45,13.97L5.82,21L12,17.27L18.18,21L16.54,13.97L22,9.24Z'" />
                                </svg>
                            </button>
                        </td>
                    </tr>
                </template>
                <tr v-else>
                    <td colspan="11"><i>You have no starred coins for this page</i></td>
                </tr>
            </tbody>
            <tbody v-else>
                <tr>
                    <td colspan="11"><i>Loading...</i></td>
                </tr>
            </tbody>
        </table>

        <p class="pagination" v-cloak>
            <button v-for="i in 20" :key="i" @click="coinsPage = i" :disabled="coinsPage == i">{{ i }}</button>
        </p>

        <p>Made by <a href="https://bastiaan.ml/" target="_blank">Bastiaan van der Plaat</a> for you to get fast cryptocurrency coins information</p>
        <p>Download now our experimental native <a href="https://github.com/bplaat/coinlist-android/blob/master/coinlist.apk?raw=true" download>Android app</a> for your mobile devices!</p>
    </div>

    <script src="/script.js"></script>
</body>
</html>
